:root {
    --primary-color: #845ec2;
    --secondary-color: #4e8397;
    --tertiary-color: #d5cabd;
    --accent-color: #f9f871;
}

html {
    font-family: 'Roboto', sans-serif;
}

p {
 margin: 0.5rem;
}

.bg-primary, .bg-secondary, .bg-tertiary {
    color: white;
    padding: 1rem;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.bg-translucent-dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
}

.button {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.button--submit {
    background-color: var(--accent-color);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap {
    gap: 1rem;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.rounded {
    border-radius: 0.5rem;
}

.text-center {
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

#hero {
    background-image: url(./images/backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}